{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href={{asset('css/style.css')}}>
{% endblock %}

{% block head %}
	<title>E-reserve</title>
{% endblock %}

{% block body %}

	<html lang="en">
		
				<div class="home">
					<div id="acceuil" class="accueil">
						<section class="section1">
							<h1>Bienvenue sur E-reserve !</h1>
							<p class="p-accueil">"Réservez votre prochaine aventure avec nous et créez des souvenirs inoubliables !"</p>
						</section>
					</div>

					<div id="recent" class="recent">
						<h2>RECENT</h2>
						<hr>
						</br>
						{% for categorie in categories %}
							<h2>
							{{categorie.libelle}}</h2>
							
							<div class="separate">
							{% for event in categorie.events %}
								{% if event.isActive == true %}
									<div class="container">
										<img src="{{asset('upload/images/events/'~ event.image)}}" class="img1">

										<br/>
										<div class="butt">
											<a href="{{path('app_eventplus', {'id':event.id})}}">
												<button class="but">En savoir plus</button>
											</a>
										</div>
									</div>
								{% endif %}
							{% endfor %}
							</div>
						</br>
						{% endfor %}
					</div>
				</div>
		</body>
	</html>

{% endblock %}
