.header{
    
    padding-left:50px ;
    display: flex;
}.header{
    box-shadow: 1px 0 10px 0px rgb(102, 100, 100);
    padding-left:50px ;
    display: flex;
}


.navbar{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding-right: 50px;
    position:fixed;
    z-index: 3;
}
*{
    margin: 0;
}
img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
   }
.title{
    font-family: 'Pacifico';
    text-align: center;
    font-size: 80px;
    color: #146C94;
    z-index: 3;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{ 
    font-size: 60px;
    text-align:center;
    margin-top: -5px;
    height: 4px;
    color: #020e15;
    font-family: 'Pacifico';
}

.card{
    margin-top: 250px;
    width:600px;
    height: 500px;
    padding: 40px;
    box-shadow: 8px 8px 8px #146C94;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    font-size:30px;
}
.form{
  padding-top: 100px;  
}
.text-center {
    align-items:center;
    font-size:30px;
}
.form-control{
    font-size: 25px;
    border-radius: 0px;
    width: 350px;
    border-color: rgb(248, 247, 247) ;
    border: none;
    border-bottom: 3px solid #146C94 ;
    background: none;
    outline: none;
    color: #146C94;  
}
