{% extends 'base.html.twig' %}

{% block title %}Mon panier!
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="{{asset('css/event.css')}}">
	<link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.min.css')}}">

{% endblock %}
{% block body %}
	<html>
		<h1>Votre panier!</h1>
		<p></p>
		<table class="table">
			<thead>
				<tr>
					<th>Evenement</th>
					<th>Nombre de billet</th>
					<th>Quantite</th>
					<th>Total</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Evenement</th>
					<td>Nombre de billet</td>
					<td>Quantite</td>
					<td>Total</td>

				</tr>
			</tbody>
		</table>
	</html>
{% endblock %}
